@page "/"
@page "/account/login"
@page "/account/login/{RegSuccess:bool}"
@using BlazorChatApp.Shared.Models;
@using Microsoft.AspNetCore.Authorization;
@inherits LoginModalBase
@layout MainLayout
@attribute [AllowAnonymous]


<PageTitle>Login</PageTitle>
@if (RegSuccess)
{
    <div class="successRegisterTextWrapper">
        <p class="">
            Successfully registered. Please login
        </p>
    </div>
}

<div class="row justify-content-center registerLoginForm">
    <div class="col-md-10">
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <EditForm Model="@login" OnValidSubmit="LoginUser">
                    <DataAnnotationsValidator />

                    <div class="form-group row">
                        <label class="control-label col-md-12">Username</label>
                        <div class="col">
                            <InputText class="form-control" @bind-Value="login.Username" />
                            <ValidationMessage For="@(() => login.Username)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-12">Password</label>
                        <div class="col">
                            <InputText type="password" class="form-control" @bind-Value="login.Password"></InputText>
                            <ValidationMessage For="@(() => login.Password)" />
                        </div>
                    </div>
                    <table width="100%">
                        <tr>
                            <td>
                                <a @onclick="RedirectToRegister" style="color:blue;cursor:pointer;">Need Register?</a>
                            </td>
                            <td class="float-right">
                                <button type="submit" class="btn btn-success">Login</button>
                            </td>
                        </tr>
                    </table>
                    <div style="color:red;text-align:center">@Error</div>
                </EditForm>
            </div>
        </div>
    </div>
</div>